package Aplicación_de_inscripción_de_usuarios;
public class Aplicacion_de_inscripcion_de_usuario  {
    public static void main(String[] args) {
        System.out.println("¡Bienvenido a la aplicación de inscripción de usuarios!");
        // Aquí se puede agregar más lógica de inicialización en el futuro
    }
}

